<!DOCTYPE html>
<html >
    <head>
        <title> Web Processing Services</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="bodycontainer">
            <div class="headBar">
                <div class="title" style="clear: both">
                <h1 style="float: left" ><a href= "https://www.ogc.org/standards/wps">WPS</a></h1>
                <h1 style="float: right" ><img src="{{url_for('static', filename='images/mapmint.jpg')}}" style="width:45px;height:45px;" alt=""><a href="http://mapmint.com/"><span style="color: #707070;">Map</span><span style="color: #83c849">Mint</span></a></h1>
                </div>
            </div>
            <hr/>
            <br/>
            <div class="content">
            <input type="radio" name="slider" checked id="home">
            <input type="radio" name="slider" id="uploadImage">
            <input type="radio" name="slider" id="pointCloud">
            <input type="radio" name="slider" id="potree">
            <input type="radio" name="slider" id="processing">
            <input type="radio" name="slider" id="camera">
            <input type="radio" name="slider" id="help">

            <div class="list">
                <label for="home" class="home">
                    <span class="icon"><i class="fa fa-home"></i></span>
                    <span class="title">Home</span>
                </label>
                <label for="uploadImage" class="uploadImage">
                    <span class="icon"><i class="fa fa-upload"></i></span>
                    <span class="title">Upload Image</span>
                </label>
                <label for="pointCloud" class="pointCloud">
                    <span class="icon"><i class="fa fa-cube"></i></span>
                    <span class="title">Point Cloud</span>
                </label>
                <label for="potree" class="potree">
                    <span class="icon"><i class="fa fa-eye"></i></span>
                    <span class="title">Potree </span>
                </label>
                <label for="processing" class="processing">
                    <span class="icon"><i class="fa fa-cogs"></i></span>
                    <span class="title">Processing</span>
                </label>
                <label for="camera" class="camera">
                    <span class="icon"><i class="fa fa-camera"></i></span>
                    <span class="title">Camera</span>
                </label>
                <label for="help" class="help">
                    <span class="icon"><i class="fa fa-info"></i></span>
                    <span class="title">Help</span>
                </label>
            <div class="slider"></div>
            </div>
            <div class="text-content">
                <div class="home text">
                <div class="title">Home Content</div>
                <p>Content For WPS Desciption!</p>
                </div>
                <div class="uploadImage text">
                <div class="title">Upload Image</div>
                <div class="container">
                    <div class="panel panel-default">
                        <div class="panel-heading"><b>Upload Images...</b></div>
                        <div class="panel-body">
                            <form id="uploadImage" action="/upload" method="post">
                                <div class="form-group">
                                    <label>File Upload</label>
                                    <input type="file" name="uploadFile" id="uploadFile" accept=".jpg, .png" multiple/>
                                </div>
                                <div class="form-group">
                                    <!-- <input type="submit" id="uploadSubmit" value="Upload" class="btn btn-info" /> -->
                                    <button type="submit" id="uploadSubmit" class="btn btn-info">Upload</button>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div id="targetLayer" style="display:none;"></div>
                            </form>
                            <div id="loader-icon" style="display:none;"><img src="/static/images/loader.gif" /></div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="pointCloud text">
                <div class="title">Point Cloud Generation</div>
                <p>Content for Point Cloud Generation!</p>
                </div>
                <div class="potree text">
                <div class="title">Potree Content</div>
                <p>Content for Point Cloud Visualization using Potree</p>
                </div>
                <div class="processing text">
                <div class="title">Processing Content</div>
                <p>Content for enhancing features of Point Cloud!</p>
                </div>
                <div class="camera text">
                <div class="title">Camera Content</div>
                <p>Content for launching camera</p>
                </div>
                <div class="help text">
                <div class="title">Help Content</div>
                <p>Content for User Guidance!</p>
                </div>
            </div>
            </div>
        </div>
        <script>
            $(document).ready(function(){
                $('#uploadImage').submit(function(event){
                    if($('#uploadFile').val()){
                        event.preventDefault();
                        $('#loader-icon').show();
                        $('#targetLayer').hide();
                        $(this).ajaxSubmit({
                            target: '#targetLayer',
                            beforeSubmit:function(){
                                $('.progress-bar').width('50%');
                            },
                            uploadProgress: function(event, position, total, percentageComplete)
                            {
                                $('.progress-bar').animate({
                                    width: percentageComplete + '%'
                                }, {
                                    duration: 1000
                                });
                            },
                            success:function(data){
                                $('#loader-icon').hide();
                                $('#targetLayer').show();
                                $('#targetLayer').append(data.htmlresponse);
                            },
                            resetForm: true
                        });
                    }
                    return false;
                });
            });
            </script>
    </body>
</html>

