@charset "utf-8";
/* CSS Document */

@media (min-width:260px) {
	.usermenu {padding-bottom:10px;}
	.usermenu li {float:left; clear:both; margin-bottom:10px;}
	.usermenu li.nolink {padding-top:0; padding-bottom:0;}
	.usermenu li a {background:none; border:0; padding:0 28px 0 0;}
	.usermenu li a:hover {background:none;}
	.usermenu .icon {right:0; top:-4px;}
	.btnset1 a {font-size:14px; line-height:16px;}
	.btnset1 a .inner {padding-right:38px;}
}

/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:321px) {
	
	.mainnav {width:45%;}
	.sidebar {float:right; clear:none; width:49%;}
	.applogo {width:245px;}
	.companylogo.txt {font-size:36px; line-height:41px;}
	#footer .lcol {float:left;}
	#footer .rcol {float:right;}
	#footer .btns a {float:left; width:85px; height:56px; padding:0 15px 0 15px;}
	.btnset1 a {font-size:13px; line-height:14px;}
		
	/* -------- alert popup -------- */
	 .alertpopup {width:200px;}
}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:481px) {
	
	.mainnav,
	.sidebar {width:218px;}
	.sidebar {float:left; clear:left; margin-bottom:0; background-position: 100% 100%;}
	
	/* sidebar gradient, method 1 */
	/*.sidebar .leaf {background:url(../images/leaf.png) no-repeat -49px 225px; min-height:576px;}*/
	
	/* sidebar gradient, method 2 */
	.sidebar .grad {background:#fff url(../images/sidebar-grad2.png) repeat-x 0 100%; padding-bottom:34px;}
	.sidebar .leaf {background:url(../images/leaf.png) no-repeat -49px 100%; min-height:240px; padding-bottom:160px;}
	.sidebar .leaf.short {padding-bottom:25px;}
	
	.usermenu li {float:left; clear:none; margin-bottom:0; margin-left:6px; padding-left:12px; padding-top:5px; height:19px; border-left:1px solid #c2c2c2;}
	.usermenu li.nolink {padding-right:8px; padding-top:5px;}
	.usermenu li.first {border-left:0; padding-left:0; margin-left:0;}
	.maincol {margin-left:249px; clear:none;}
	.btnset1 a {font-size:14px; line-height:16px;}
	
	/* -------- alert popup -------- */
	 .alertpopup {width:350px;}
	
}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:641px) {
	
	
	
}

@media (min-width:780px) {
	
	.companylogo {float:right; clear:none;}
	.usermenu {float:right; clear:right; padding-bottom:6px;}
	.mainnav {font-size:13px; line-height:16px; float:none; width:100%;}
	.mainnav li {float:left; padding-top:0; padding-right:1px;}
	.mainnav li,
	.mainnav li.first {background:url(../images/mainnav-sep.png) repeat-y right top;}
	.mainnav a {padding:0 15px 0 15px; height:68px;}
	.mainnav a span {display:block;}
	/*.sidebar .leaf {min-height:505px;}*/
	.panel li {width:48%; float:left;}
	.formgen .wrap {clear:none;}
	.formgen .fullwidth {clear:both;}
	.formgen .thirdwidth {width:33.3%; float:left;}
	.formgen .halfwidth {width:50%; float:left;}
	
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px) {
	
	.mainnav {font-size:14px; line-height:17px;}
	.mainnav a {padding:0 18px 0 18px;}
	.panel li {width:32%;}
	
}

/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {
	
	.mainnav {font-size:15px; line-height:18px;}
	.mainnav a {padding:0 21px 0 21px;}
	.editlist .options .btn1 {text-indent:0; height:auto; width:auto; padding:5px 10px 7px 10px;}
	.btn1.delete,
	.btn1.edit {padding-right:31px !important;}
	
}

/* hi-res laptops and desktops */
@media (min-width:1281px) {
	
	.wrapper {width:1490px;}
	#header, #footer {min-width:1180px;}
	.mainnav a {padding:0 24px 0 24px;}
	
	/* -------- login screen -------- */
	.loginpg .wrapper {width:90%;}
	.loginpg #header,
	.loginpg #footer {min-width:100%;}
	
}
